body{
   font-size: 16px;
}

.container{
   height: 70px;
   display: flex;
   justify-content: space-evenly;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   align-items: center;
   font-weight: bold;
   font-size: 20px;
   background-color: #F7418F;
}

a{
   color: whitesmoke;
   text-decoration: none;
}

.summary{
   height: 90vh;
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-template-rows: 1fr;
}

.ProfilePicture{
   border-right: 5px solid black;
   display: flex;
   justify-content: center;

}