body{
   font-size: 16px;
}

.container{
   height: 70px;
   display: flex;
   justify-content: space-evenly;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   align-items: center;
   font-weight: bold;
   font-size: 20px;
   background-color: #9195F6;
  box-shadow: 5px 10px #B7C9F2;
}

a{
   color: whitesmoke;
   text-decoration: none;
}

.summary{
   height: 100vh;
   background: linear-gradient(45deg, rgba(5, 176, 219, .2) 0%, rgba(11, 11, 11, .95) 85%) 100% no-repeat, url(https://exploding-heads-images.s3.us-east-2.amazonaws.com/website/black-blocks.jpg) 0 0 / cover no-repeat !important;
}